@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
     .menu-categories-items {
          @apply px-2 py-3 lg:p-0 relative lg:static;
     }

     .menu-categories-items-link {
          @apply flex lg:hover:no-underline lg:px-8 lg:py-2 lg:hover:bg-c-dark-gray lg:hover:text-white;
     }

     .menu-categories-items-hover-responsive {
          @apply hidden group-hover:block absolute top-full left-auto bg-white text-c-dark-gray mt-0 w-52 px-3 shadow-md;
     }

     .menu-categories-open {
          @apply translate-x-0 transition duration-300;
     }

     .menu-categories-close {
          @apply -translate-x-translate-150% transition duration-300;
     }

     .inactivate-link {
          @apply w-full h-full absolute left-0 top-0 bg-transparent;
     }
}
