<div class="product prod-carousel" data-prodCod="001" data-prodRef="RSD0001" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.">
    <section class="product-source hidden">
        <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/pexels-marcus-silva-10353621.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Camiseta Básica New York</h3>
        <h4 class="prod-carousel-prodPrice">100.20</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Branco"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Azul"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Preto"></div>
    </section>
    <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="P"></div>
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="M"></div>
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section>
</div>