<div class="product prod-carousel" data-prodCod="002" data-prodRef="RSD0002" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="../images/products/29.jpg"></div>
        <div class="product-source-img" data-img="../images/products/30.jpg"></div>
    </section>
    <div class="img-product"><img src="../images/products/29.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Camiseta Básica White Yes</h3>
        <h4 class="prod-carousel-prodPrice">10.80</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Preto"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Rosa"></div>
    </section>
    <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section>
</div>