<div class="product prod-carousel" data-prodCod="006" data-prodRef="RSD0006" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Camiseta Básica de Algodão</h3>
        <h4 class="prod-carousel-prodPrice">107.99</h4>
    </div>
</div>