<div class="product prod-carousel" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Camiseta Básica White New Jersey</h3>
        <h4 class="prod-carousel-prodPrice">R$ 10,0</h4>
    </div>
</div>