<div class="product prod-carousel" data-prodCod="008" data-prodRef="RSD0008" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Camiseta White Básica New Orleans</h3>
        <h4 class="prod-carousel-prodPrice">99.80</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Branco"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Azul"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Vermelho"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Marrom"></div>
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Preto"></div>
    </section>
    <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section>
</div>