<div class="product prod-carousel" data-prodCod="009" data-prodRef="RSD0009" data-prodDesc="Tênis de cano baixo com sidestripe original da Vans, Fechamento com cadarço, Cabedais resistentes em camurça e lona, Colarinhos acolchoados, Solado emborrachado característico da marca em waffle.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="../images/products/1.jpg"></div>
    </section>
    <div class="img-product"><img src="../images/products/1.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Tênis Old</h3>
        <h4 class="prod-carousel-prodPrice">399.80</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Preto"></div>
    </section>
    <!-- <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section> -->
</div>