<div class="product prod-carousel" data-prodCod="011" data-prodRef="RSD0011" data-prodDesc="o Sk8-Hi trouxe um visual totalmente novo à família Vans. Honrando aquele primeiro lendário cano alto, o tênis Classic Sk8-Hi é feito com cabedais duráveis em camurça na cor preta, sidestripe em couro preto e viras laterias em borracha na cor preta.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/products/3.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/products/3.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Tênis SK8 HI</h3>
        <h4 class="prod-carousel-prodPrice">299.80</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Bege"></div>
    </section>
    <!-- <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section> -->
</div>