<div class="product prod-carousel" data-prodCod="014" data-prodRef="RSD0014" data-prodDesc="O tênis Sk8-Hi foi introduzido em 1978, originalmente chamado de Style 38 e exibia a agora icônica Vans Sidestripe em uma nova silhueta inovadora de cano alto. Por ter sido apenas o segundo modelo com o marcador reconhecível, antigamente conhecido como “faixa de jazz”, o Sk8-Hi trouxe um visual totalmente novo à família Vans.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/products/8.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/products/8.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Tênis Low</h3>
        <h4 class="prod-carousel-prodPrice">252.50</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Azul"></div>
    </section>
    <!-- <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section> -->
</div>