<div class="product prod-carousel" data-prodCod="015" data-prodRef="RSD0015" data-prodDesc="Inpirado na ledária silhueta Sk8-Hi, O Sk8-Low é uma reinterpretação do clássico tênis de cano alto da Vans, com cores e materiais para trazer a familiar estética do Sk8-Hi a um tênis de cano baixo.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="./images/products/4.jpg"></div>
    </section>
    <div class="img-product"><img src="./images/products/4.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Tênis Black-white</h3>
        <h4 class="prod-carousel-prodPrice">252.50</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Preto"></div>
    </section>
    <!-- <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section> -->
</div>