<div class="product prod-carousel" data-prodCod="016" data-prodRef="RSD0016" data-prodDesc="Sempre pronto para o inesperado! Acreditamos que a aventura começa quando os planos não saem muito de acordo com o esperado, por isso, desenvolvemos um calçado que não só resista à viagem, mas que também o mantenha confortável nas situações mais incômodas.">
    <section class="product-source" style="display: none">
        <div class="product-source-img" data-img="../images/products/7.jpg"></div>
    </section>
    <div class="img-product"><img src="../images/products/7.jpg" alt="Produto"></div>
    <div class="product-box-text">
        <h3 class="prod-carousel-prodName">Tênis Ultrarange</h3>
        <h4 class="prod-carousel-prodPrice">1252.50</h4>
    </div>
    <section class="first-variation hidden">
        <div class="prod-variations-color border p-2 cursor-pointer" data-variation="Bege"></div>
    </section>
    <!-- <section class="second-variation hidden">
        <div class="prod-variations-size border p-2 cursor-pointer" data-variation="G"></div>
    </section> -->
</div>