@charset "UTF-8";

/* RESET CSS*/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --grey: #9e9e9e;
     --lightGrey: #e0dddd;
     --lightGrey2: #fafafa;
     --lightGrey3: #f1f1f1;
     --darkGrey: #494949;
}

body {
     font-family: "Lato", sans-serif;
     color: var(--darkGrey);
}

/* FONTS */
h1 {
     font-size: 1rem;
}

h2 {
     font-size: 1rem;
     font-weight: 600;
}

h3 {
     font-size: 1rem;
     font-weight: 400;
}

h4 {
     font-size: 1rem;
     font-weight: 600;
}

h5 {
     font-size: 0.8rem;
}

/* LINKS AND BUTTONS */
a {
     text-decoration: none;
     color: var(--grey);
}

a:hover {
     text-decoration: underline;
}

/* MARGINS AND PADDINGS */
.general-margin-padding {
     margin: 0 80px;
}

/* HIDE LABEL WITH ACCESSIBILITY */
.hide-text {
     position: absolute;
     left: -999em;
     width: 1em;
     overflow: hidden;
}
