@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
     .menu-categories-items {
          @apply px-2 py-3 lg:p-0 relative lg:static lg:hover:bg-c-dark-gray/10 cursor-pointer;
     }

     .menu-categories-items-link {
          @apply flex lg:px-8 lg:py-2 hover:no-underline;
     }

     .menu-categories-items-link > a {
          @apply hover:no-underline;
     }

     .menu-categories-items-hover-responsive {
          @apply hidden group-hover:block absolute top-full left-auto bg-white text-c-dark-gray mt-0 w-52 px-3 shadow-md rounded-b-lg;
     }

     .menu-categories-open {
          @apply translate-x-0;
     }

     .menu-categories-close {
          @apply -translate-x-translate-150%;
     }

     .inactivate-link {
          @apply w-full h-full absolute left-0 top-0 bg-transparent;
     }

     .form-col {
          @apply flex flex-col gap-1 py-3 lg:p-1 text-sm lg:hover:bg-yellow-100 rounded-md;
     }

     .form-col-input {
          @apply p-2.5 border border-neutral-300 rounded-md;
     }

     .page-title {
          @apply text-xl text-center font-bold mb-5;
     }
}
