<div class="secondary-banner-col">
    <a href="/lancamentos">
        <img src="./images/pexels-arayik-manukyan-9629406.jpg" alt="Banner" class="imagens-sec-banner">
        <p class="secondary-banner-col-title">LANÇAMENTOS</p>
    </a>
</div>