<div class="secondary-banner-col">
   <a href="/sale">
      <img src="./images/pexels-kenan-almokdad-5366614.jpg" alt="Banner" class="zoom">
      <p class="secondary-banner-col-title">SALE</p>
   </a>
</div>