<div class="secondary-banner-col">
   <a href="/calcados">
      <img src="./images/pexels-av-raw-12479472.jpg" alt="Banner" class="zoom">
      <p class="secondary-banner-col-title">CALÇADOS</p>
   </a>
</div>