<section class="website-urls general-margin-padding">
    <p>Você está em: <a href="/">Home</a> / <%- page %> </p>
    <a href="<%= typeof prevPage != 'undefined' ? prevPage:'/'%>" class="website-urls-link">Voltar</a>
</section>