<div class="empty-login-error-message bg-yellow-400 text-yellow-800 rounded-md mx-2.5 lg:mx-auto lg:w-9/12 leading-4 p-2 hidden">
    <h2>ATENÇÃO</h2>
    <p class="pb-1">Preencha todas os campos</p>
</div>
<div class="validate-login-error-message bg-yellow-400 text-yellow-800 rounded-md mx-2.5 leading-4 p-2 hidden">
    <h2>ATENÇÃO</h2>
    <p class="pb-1">E-mail ou senha inválidos</p>
</div>