<div id="header-alert-message" class="p-2 bg-black text-white text-xs font-light text-center lg:text-sm -top-full">
   <p>EM CONSTRUÇÃO- EXCLUSIVAMENTE P/ FINS EDUCACIONAIS</p>
</div>

<header class="z-20">
   <div id="header-box" class="general-margin-padding">
      <button class="button-responsive lg:hidden"><img src="../images/menu.svg"></button>
      <div id="header-left-box">
         <div id="social-media">
            <a href="https://facebook.com" target="_blank"><img src="../images/facebook.svg" alt="Facebook"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram.svg" alt="Instagram"></a>
         </div>

         <!-- HEADER SEARCH -->
         <div id="search-box">
            <label class="hide-text" for="top-search">Pesquisar</label>
            <input id="top-search" name="top-search" type="search" placeholder="Procurar..." />
            <a href="#" id="btn-search"><img src="../images/magnify.svg" alt="Botão pesquisar"></a>
         </div>
      </div>
      <a href="/" id="link-logo">
         <h1 id="logo">logomarca</h1>
      </a>
      <div id="header-right-box">
         <!-- HEADER ACCOUNT -->
         <div id="account">
            <a href="/login" id="link-account"><img src="../images/account-circle.svg" alt="Entrar"></a>
            <ul id="account-list">
               <li>
                  <a href="/login">Entrar</a>
               </li>
               <li>
                  <a href="/cadastro">Criar conta</a>
               </li>
            </ul>
         </div>
         <!-- HEADER SHOPPING CART -->
         <a href=""><img src="../images/shopping.svg" alt="Carrinho de Compras" id="shopping"></a>
         <a href=""><img src="../images/shoppingCart.svg" alt="Carrinho de Compras" id="shoppingCart"></a>
      </div>
   </div>

   <!-- NAVBAR CATEGORIES -->
   <div class="background-categories hidden lg:hidden bg-black/90 w-full h-screen fixed top-0"></div>
   <div class="content-categories fixed top-0 menu-categories-close duration-700 lg:transition-none lg:menu-categories-open lg:static lg:w-full">
      <button class="button-responsive-close absolute top-1 -right-9 lg:hidden"><img class="w-10 h-10" src="../images/closeCat.svg"></button>
      <nav class="menu-categories bg-white w-56 h-screen lg:h-min overflow-y-auto lg:w-full">
         <ul class="divide-gray-200 flex flex-col h-full divide-y lg:flex-row lg:justify-center lg:h-min lg:divide-y-0">
            <li class="titleMenu menu-categories-items bg-c-dark-gray text-white lg:hidden">
               CATEGORIAS
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/lancamentos">LANÇAMENTOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/mais-vendidos">MAIS VENDIDOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/calcados">CALÇADOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
                  <li class="py-1 lg:w-full"><a href="/calcados/masculino" class="hover:no-underline lg:hover:underline">Masculino</a></li>
                  <li class="py-1 lg:w-full"><a href="/calcados/feminino" class="hover:no-underline lg:hover:underline">Feminino</a></li>
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/sale">SALE</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>
         </ul>
      </nav>
   </div>
</header>