<header>
   <div id="header-alert-message">
      <p>EM CONSTRUÇÃO- EXCLUSIVAMENTE P/ FINS EDUCACIONAIS</p>
   </div>
   <div id="header-box" class="general-margin-padding">
      <button class="button-responsive lg:hidden"><img src="./images/menu.svg"></button>
      <div id="header-left-box">
         <div id="social-media">
            <a href="https://facebook.com" target="_blank"><img src="./images/facebook.svg" alt="Facebook"></a>
            <a href="https://instagram.com" target="_blank"><img src="./images/instagram.svg" alt="Instagram"></a>
            <a href="https://br.pinterest.com" target="_blank"><img src="./images/pinterest.svg" alt="Pinterest"></a>
         </div>

         <!-- HEADER SEARCH -->
         <div id="search-box">
            <label class="hide-text" for="top-search">Pesquisar</label>
            <input id="top-search" name="top-search" type="search" placeholder="Procurar..." />
            <a href="#" id="btn-search"><img src="./images/magnify.svg" alt="Botão pesquisar"></a>
         </div>
      </div>
      <a href="/" id="link-logo">
         <h1 id="logo">logomarca</h1>
      </a>
      <div id="header-right-box">
         <!-- HEADER ACCOUNT -->
         <div id="account">
            <a href="" id="link-account"><img src="./images/account-circle.svg" alt="Entrar"></a>
            <ul id="account-list">
               <li>
                  <a href="">Entrar</a>
               </li>
               <li>
                  <a href="">Criar conta</a>
               </li>
            </ul>
         </div>
         <!-- HEADER SHOPPING CART -->
         <a href=""><img src="./images/shopping.svg" alt="Carrinho de Compras" id="shopping"></a>
         <a href=""><img src="./images/shoppingCart.svg" alt="Carrinho de Compras" id="shoppingCart"></a>
      </div>
   </div>

   <!-- NAVBAR CATEGORIES -->
   <div class="background-categories absolute top-0 z-50 menu-categories-close lg:menu-categories-open lg:static lg:w-full">
      <button class="button-responsive-close absolute top-0 -right-9 lg:hidden"><img class="w-10 h-10" src="./images/closeCat.svg"></button>
      <nav class="menu-categories bg-white w-52 h-screen lg:h-min overflow-y-auto lg:w-full">
         <ul class="divide-gray-300 flex flex-col h-full divide-y lg:flex-row lg:justify-center lg:h-min lg:divide-y-0">
            <li class="titleMenu menu-categories-items bg-c-dark-gray text-white lg:hidden">
               CATEGORIAS
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">LANÇAMENTOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">MAIS VENDIDOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">COLEÇÕES</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
                  <li class="py-1 lg:w-full"><a href="/categories">Personalizados</a></li>
                  <li class="py-1 lg:w-full"><a href="/categories">Coleção Essência</a></li>
                  <li class="py-1 lg:w-full"><a href="/categories">Coleção Brasil</a></li>
                  <li class="py-1 lg:w-full"><a href="/categories">Coleção Espanha</a></li>
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">ROUPAS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">ACESSÓRIOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">CLÁSSICOS</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

            <li class="menu-categories-items group">
               <div class="inactivate-link lg:hidden"></div>
               <a class="menu-categories-items-link" href="/categories">SALE</a>
               <ul class="hidden px-6 text-sm list-disc lg:list-none lg:menu-categories-items-hover-responsive">
               </ul>
            </li>

         </ul>
      </nav>
   </div>
</header>