<div class="background-modal-product">
    <div class="modal-product">
        <button class="btn-close-modal"><img src="images/close.svg"></button>
        <!-- PRODUCT PAGE -->
        <section class="product-page general-margin-padding">
            <!-- box images -->
            <div class="images">
                <div class="secondary-images"></div>
                <div class="main-image">
                    <button class="btnModal-left"><img src="./images/chevron-left.svg"></button>
                    <button class="btnModal-right"><img src="./images/chevron-right.svg"></button>
                    <div class="product-images"></div>
                </div>
            </div>
            <!-- box description -->
            <div class="product-name">
                <h2 id="prod-name">Nome do Produto</h2>
                <h5>Código: 0000 | Ref. 000000</h5>
            </div>
            <div class="product-payment">
                <h2 id="prod-price">R$ 0</h2>
                <a href="#">Ver parcelamentos</a>
            </div>
            <!-- box variations -->
            <div class="variations">
                <div class="first-variation">
                    <h4>Cor: Branco</h4>
                    <button>Branco</button>
                </div>
                <div class="second-variation">
                    <h4>Tamanho: M</h3>
                        <button>P</button>
                        <button>M</button>
                        <button>G</button>
                </div>
            </div>
            <div class="product-quantity-box">
                <label for="product-quantity">Quantidade:</label>
                <input type="number" id="product-quantity" value="1">
            </div>
            <button id="product-purchase">COMPRAR</button>
            <h5 id="product-add-wishlist">+ Adicionar à lista de desejos</h5>
            <div class="product-shipping">
                <label for="product-shipping-cep">Simule o frete para sua região</label>
                <div class="calc-shipping">
                    <input type="text" id="product-shipping-cep" placeholder="Digite seu CEP">
                    <button>Calcular Frete</button>
                </div>
            </div>
        </section>

        <section class="product-box general-margin-padding">
            <h2>DESCRIÇÃO</h2>
            <div class="prod-description"></div>
        </section>

        <!-- PRODUCT CAROUSEL-->
        <%- include('carousel-product', {classCarousel: 'modal-prod-carousel-1', titleCarousel: 'PRODUTOS RELACIONADOS'}); %>

    </div>
</div>