<section class="modal-product-background bg-black/75 hidden fixed z-20 top-0 w-screen h-screen justify-center items-center overflow-y-hidden  ">
</section>

<div class="modal-product-content bg-white w-full h-screen min-h-min lg:w-11/12 lg:h-5/6 fixed -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-l-lg scale-0 z-20">

    <div class="modal-product-content-product-page lg:px-1 w-full h-full overflow-y-scroll pb-8">
        <!-- PRODUCT PAGE -->
        <section class="modal-product-content-page grid lg:grid-2col-product-page gap-4 p-2.5 text-center lg:text-left">
            <!-- box images -->
            <div class="modal-product-content-page-images mt-1 grid grid-rows-1 lg:grid-2col-product-page lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-4 lg:w-52vw">
                <div class="secondary-images py-2 row-start-2 grid grid-cols-6 gap-2 lg:grid-cols-1 lg:w-16 lg:items-start lg:content-start lg:py-0 lg:pr-2 lg:row-start-1"></div>
                <div class="main-image w-full border overflow-y-hidden overflow-x-hidden relative lg:col-start-2 lg:col-end-2">
                    <button class="btn-modal-left absolute top-1/2 -translate-y-1/2 left-2 border border-neutral-400 rounded-full w-8 h-8 flex items-center justify-center z-10"><img src="../images/chevron-left.svg" class="w-10"></button>
                    <button class="btn-modal-right absolute top-1/2 -translate-y-1/2 right-2 border border-neutral-400 rounded-full w-8 h-8 flex items-center justify-center z-10"><img src="../images/chevron-right.svg"></button>
                    <div class="product-images flex duration-200 h-full"></div>
                </div>
            </div>
            <!-- box description -->
            <div class="modal-product-content-page-product-name row-start-1 lg:col-start-2 text-left">
                <h2 id="prod-name" class="pt-1 text-lg font-bold">Nome do Produto</h2>
                <h5 class="text-xs py-1">Código: <span class="modal-product-code">0000</span> | Ref. <span class="modal-product-ref">000000</span></h5>
            </div>
            <section class="modal-product-content-page-product-more-info flex flex-col gap-4 lg:row-start-2">
                <div class="modal-product-content-page-product-payment">
                    <h2>R$ <span id="prod-price" class="text-lg">0</span></h2>
                    <p class="product-payment-see-parcels cursor-pointer underline">Ver parcelamentos</p>
                </div>
                <!-- box variations -->
                <div class="modal-product-content-page-variations">
                    <div class="first-variation my-2">
                        <h4>Cor: <span class="first-variation-selected"></span></h4>
                        <ul class="flex gap-2 justify-center lg:justify-start">
                        </ul>
                    </div>
                    <div class="second-variation">
                        <h4>Tamanho: <span class="second-variation-selected"></span></h3>
                            <ul class="flex gap-2 justify-center lg:justify-start">
                            </ul>
                    </div>
                </div>
                <div class="modal-product-content-page-quantity-box flex flex-col justify-center items-center lg:items-start">
                    <label for="product-quantity">Quantidade:</label>
                    <input type="number" id="product-quantity" value="1" class="w-12 h-10 text-center border">
                </div>
                <button id="product-purchase" class="bg-c-bg-button w-3/4 p-2 mx-auto lg:w-full">COMPRAR</button>
                <h5 id="product-add-wishlist" class="cursor-pointer text-center text-sm">+ Adicionar à lista de desejos</h5>
                <div class="modal-product-content-page-shipping w-4/6 mx-auto flex flex-col lg:mx-0">
                    <label for="shipping-cep" class="text-left pb-1 w-full">Simule o frete para sua região</label>
                    <div class="shipping-calc flex justify-around items-center w-full">
                        <input type="text" id="product-shipping-cep" placeholder="Digite seu CEP" class="text-xs border w-7/12 py-2 pl-1">
                        <button class="text-xs bg-c-bg-button py-2 w-5/12">Calcular Frete</button>
                    </div>
                </div>

                <!-- PRODUCT DESCRIPTION -->
                <section class="modal-product-content-description">
                    <h2 class="page-title lg:text-base lg:text-left">DESCRIÇÃO</h2>
                    <div class="prod-description lg:text-sm text-justify lg:text-left"></div>
                </section>
            </section>
        </section>

        <!-- PRODUCT LINE -->
        <%- include('../partials/prodCarousel/product-carousel-1', {
            titleCarousel: "PRODUTOS RELACIONADOS",
        }); %>

    </div>

    <button class="btn-close-modal fixed bg-white right-0 top-0 m-5 z-10"><img src="../images/close.svg" class="w-9 h-9 "></button>


</div>

<!-- MODAL - PAYMENT -->
<section class="product-payment-modal-background bg-black/95 min-w-full min-h-full fixed top-0 left-0 hidden z-20">
</section>

<section class="product-payment-internal-modal scale-0 bg-white w-max text-left lg:w-96 h-min p-9 fixed text-base -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-20">
    <button class="btn-close-payment-modal absolute -top-4 -right-4 rounded-full bg-red-600 border-2"><img src="../images/close-white.svg" class="w-5 h-5 m-1"></button>
    <p class="font-bold">Cartão de Crédito</p>
    <ul class="product-payment-credit">
    </ul>
    <p class="font-bold mt-4">Boleto</p>
    <ul class="product-payment-ticket">
        <li>1x R$ 104,50 (desconto de 5%)</li>
    </ul>
</section>