.menu-categories {
     width: 100%;
     border-top: 1px solid var(--lightGrey3);
     /* border-bottom: 1px solid var(--lightGrey); */
     position: relative;
     z-index: 2;
}

.titleMenu {
     display: none;
}

.menu-categories ul {
     width: 100%;
     display: flex;
     list-style: none;
     justify-content: center;
}

.menu-categories ul li {
     padding: 10px 30px;
     position: relative;
}

.menu-categories ul li:hover {
     background-color: var(--darkGrey);
     color: #fff;
}

/* .menu-categories ul a {
    padding: 10px 30px;
    text-decoration: none;
} */

/* .menu-categories ul a:hover {
    background-color: var(--darkGrey);
    color: #fff;
} */

.menu-categories li ul {
     display: none;
     background-color: #fff;
}

.menu-categories li ul li {
     padding: 5px;
     border-bottom: 1px solid var(--lightGrey);
}

.menu-categories li:last-child {
     border: 0;
}

/* .menu-categories li ul li a {
    padding: 5px;
} */

@media (min-width: 1024px) {
     .menu-categories li:hover ul {
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          display: block;
          cursor: pointer;
          background-color: white;
          color: #000;
     }
}

.background-categories {
     width: 200px;
     height: 100vh;
     position: absolute;
     transform: translateX(-150%);
     transition: transform 0.6s;
}

.background-categories.open {
     transform: translateX(0);
}

.menu-categories {
     position: fixed;
     top: -1px;
     height: 100vh;
     width: 220px;
     background-color: #fff;
     width: 100%;
     overflow-y: scroll;
}

.menu-categories ul {
     flex-direction: column;
     justify-content: start;
     width: 100%;
}

.menu-categories ul li {
     padding: 15px 15px;
     color: var(--darkGrey);
     border-bottom: 1px solid var(--lightGrey);
}

.menu-categories ul li:hover {
     color: var(--darkGrey);
}

.menu-categories li:hover ul {
     position: initial;
}

.menu-categories ul li ul li {
     border-bottom: none;
     padding-left: 0;
     /* display: none; */
}

.menu-categories ul li ul li:hover {
     text-decoration: none;
     color: var(--darkGrey);
}

.titleMenu {
     background-color: var(--darkGrey);
     position: relative;
     color: #fff;
}

.titleMenu button {
     position: fixed;
     background-color: transparent;
     border: none;
     top: 0;
     right: -40px;
     cursor: pointer;
}

.titleMenu button img {
     height: 45px;
     width: 45px;
}
