@charset "UTF-8";

/* RESET CSS*/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --grey: #9e9e9e;
     --lightGrey: #e0dddd;
     --lightGrey2: #fafafa;
     --darkGrey: #494949;
}

body {
     font-family: "Lato", sans-serif;
     color: var(--darkGrey);
}

/* FONTS */
h1 {
     font-size: 1rem;
}

h2 {
     font-size: 1rem;
     font-weight: 600;
}

h3 {
     font-size: 1rem;
     font-weight: 400;
}

h4 {
     font-size: 1rem;
     font-weight: 600;
}

h5 {
     font-size: 0.8rem;
}

/* LINKS AND BUTTONS */
a {
     text-decoration: none;
     color: var(--grey);
     transition: 0.2s;
}

a:hover {
     text-decoration: underline;
}

/* MARGINS AND PADDINGS */
.general-margin-padding {
     margin: 0 80px;
}

/* HIDE LABEL WITH ACCESSIBILITY */
.hide-text {
     position: absolute;
     left: -999em;
     width: 1em;
     overflow: hidden;
}

/* HEADER */
header {
     max-width: 100%;
     display: flex;
     flex-direction: column;
     position: sticky;
     background-color: #fff;
     top: 0;
     z-index: 2;
}

#header-alert-message {
     padding: 8px;
     text-align: center;
     color: #fff;
     background-color: #000;
}

#header-box {
     display: flex;
     flex-flow: row wrap;
     height: 120px;
     align-items: center;
     justify-content: space-between;
     position: relative;
}

#header-left-box {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#social-media img {
     padding-right: 7px;
}

#search-box {
     display: flex;
     position: relative;
     align-items: center;
}

#btn-search {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     right: 8px;
}

#top-search {
     width: 200px;
     max-width: 100%;
     height: 30px;
     outline: none;
     border: 1px solid var(--darkGrey);
     padding: 0 10px;
     border-radius: 30px;
}

#link-logo {
     color: var(--darkGrey);
     text-decoration: none;
}

#logo {
     font-size: 2.5rem;
     font-weight: normal;
     margin-left: -40px;
}

#header-right-box {
     display: flex;
     align-items: center;
     gap: 20px;
}

#account {
     display: flex;
     align-items: center;
}

#account-list {
     display: flex;
     align-items: center;
     list-style: none;
}

#account-list li {
     line-height: 0.9;
     padding: 0 5px;
}

#account-list li:nth-child(2) {
     border-left: 1px solid var(--darkGrey);
}

#link-account {
     font-size: 0;
}

#shoppingCart {
     display: none;
}

/* MENU CATEGORIES */
.button-responsive {
     display: none;
}

.menu-categories {
     width: 100%;
     border-top: 1px solid var(--lightGrey);
     /* border-bottom: 1px solid var(--lightGrey); */
     position: relative;
     z-index: 2;
}

.titleMenu {
     display: none;
}

.menu-categories ul {
     width: 100%;
     display: flex;
     list-style: none;
     justify-content: center;
}

.menu-categories ul li {
     padding: 10px 0;
     position: relative;
}

.menu-categories ul a {
     padding: 10px 30px;
     text-decoration: none;
}

.menu-categories ul a:hover {
     background-color: var(--darkGrey);
     color: #fff;
}

.menu-categories li ul {
     display: none;
     background-color: #fff;
}

.menu-categories li ul li {
     padding: 5px;
     border-bottom: 1px solid var(--lightGrey);
}

.menu-categories li:last-child {
     border: 0;
}

.menu-categories li ul li a {
     padding: 5px;
}

.menu-categories li:hover ul {
     position: absolute;
     top: 100%;
     width: 200px;
     display: block;
}

.menu-categories li ul a:hover {
     text-decoration: underline;
     background-color: #fff;
     color: var(--grey);
}

/* MAIN */

/* BANNER CAROUSEL */
#container {
     margin: auto;
     height: 100%;
     position: relative;
}

#carousel {
     height: auto;
     overflow-x: auto;
}

#carousel::-webkit-scrollbar {
     display: none;
}

button img {
     width: 30px;
     height: 55px;
}

.left-btn,
.right-btn {
     border: none;
     position: absolute;
     z-index: 1;
     bottom: 50%;
     width: 40px;
     height: 90px;
     transform: translateY(50%);
     left: 0;
     right: auto;
     cursor: pointer;
     transition: all 600ms;
     background-color: transparent;
}

.right-btn {
     right: 0;
     left: auto;
}

.left-btn:hover,
.right-btn:hover {
     background-color: rgba(0, 0, 0, 0.253);
}

/* MAIN BANNER */
#main-banner {
     height: auto;
     display: flex;
     transition: 0.4s;
}

#main-banner img {
     min-width: 100%;
     width: 100%;
     height: auto;
     object-fit: cover;
}

/* CATEGORIES BANNER */
.categories-banner {
     max-width: 100%;
     height: 100%;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
}

.website-urls {
     padding: 20px 0;
     font-size: 0.8rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.website-urls-link {
     color: var(--darkGrey);
}

.categories-banner img {
     width: 100%;
     height: auto;
}

/* SHIPPING BANNER */
.shipping-banner {
     display: flex;
     padding: 10px 0;
     align-items: center;
     justify-content: space-between;
}

.shipping-box {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: flex-start;
}

.shipping-box-col-img,
.shipping-box-col-text {
     display: flex;
     flex-direction: column;
}

/* SECONDARY BANNERS */
.secondary-banners {
     gap: 20px;
     display: flex;
     max-width: 100%;
     height: 100%;
     justify-content: center;
     margin-bottom: 20px;
}

.secondary-banner-col {
     position: relative;
     overflow: hidden;
     cursor: pointer;
     width: 50%;
}

.secondary-banner-col img {
     width: 100%;
     height: 100%;
     transition: 0.3s;
}

.secondary-banner-col img:hover {
     background-color: black;
     filter: brightness(50%);
     /* transform: scale(1.1); */
}

/* PRODUCT LIST */
.product-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
}

.product-box h2 {
     font-size: 1.4rem;
     font-weight: 400;
}

.product-list {
     max-width: 100vw;
     display: flex;
     gap: 20px;
     flex-direction: row;
     margin-bottom: 20px;
     justify-content: center;
}

.product {
     gap: 10px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border: 1px solid transparent;
     padding-bottom: 12px;
}

.img-product {
     width: 100%;
     position: relative;
     overflow: hidden;
}

.product img {
     width: 100%;
     height: 100%;
     transition: 0.2s;
}

.product img:hover {
     transform: scale(1.1);
}

.product:hover {
     border: 1px solid var(--lightGrey);
}

/* PRODUCT PAGE */
.product-page {
     max-width: 100%;
     column-gap: 20px;
     row-gap: 20px;
     display: grid;
     grid-template-columns: auto 1fr;
     grid-template-rows: repeat(9, auto);
     margin-bottom: 20px;
}

.images {
     display: flex;
     gap: 8px;
     grid-row-start: 1;
     grid-row-end: 9;
}

.secondary-images {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
     justify-content: flex-start;
}

.box-small-image {
     width: 50px;
     height: 50px;
     padding: 3px;
     cursor: pointer;
     border: 1px solid var(--lightGrey);
}

.box-small-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.main-image {
     width: 646px;
     height: 646px;
     padding: 3px;
     cursor: pointer;
     border: 1px solid var(--lightGrey);
}

.main-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top center;
}

.product-name h2 {
     font-size: 1.3rem;
     font-weight: 500;
     padding-bottom: 5px;
}

.product-name h5 {
     font-size: 0.8rem;
     font-weight: 500;
     padding-bottom: 10px;
}

.product-payment h2 {
     font-size: 1.4rem;
}

.product-payment a {
     color: var(--darkGrey);
     text-decoration: underline;
     outline: 0;
}

.variations h4 {
     margin-top: 5px;
     margin-bottom: 5px;
}

.first-variation {
     padding-bottom: 10px;
}

.first-variation button {
     width: 80px;
     height: 36px;
     margin-top: 5px;
     padding: 0 10px;
     outline: 0;
     background-color: #fff;
     color: var(--darkGrey);
     border: 1px solid var(--lightGrey);
     cursor: pointer;
}

.second-variation button {
     width: 36px;
     height: 36px;
     margin-top: 5px;
     margin-right: 5px;
     outline: 0;
     background-color: #fff;
     color: var(--darkGrey);
     border: 1px solid var(--lightGrey);
     cursor: pointer;
}

.product-quantity-box {
     display: flex;
     flex-direction: column;
     gap: 5px;
}

#product-quantity {
     width: 50px;
     height: 40px;
     padding-left: 6px;
}

#product-purchase {
     height: 50px;
     border: 0;
     outline: 0;
     font-size: 1.2rem;
     cursor: pointer;
}

#product-add-wishlist {
     text-align: center;
     cursor: pointer;
}

.product-shipping {
     display: flex;
     flex-direction: column;
}

.product-shipping label {
     padding-bottom: 10px;
}

#product-shipping-cep {
     height: 40px;
     padding: 0 10px;
     border: 1px solid var(--lightGrey);
     outline: none;
     font-size: 1rem;
}

.calc-shipping button {
     height: 39px;
     padding: 0 10px;
     outline: none;
     border: none;
     cursor: pointer;
     font-size: 0.9rem;
}

/* PRODUCT LINE CAROUSEL*/
.container-products-carousel {
     justify-content: center;
     padding: 0 40px;
     max-width: 97vw;
     position: relative;
}

/* PRODUCT CAROUSEL */
.product.prod-carousel {
     gap: 10px;
     min-width: 23%;
     margin-left: 1%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border: 1px solid transparent;
     padding-bottom: 12px;
}

button.left-btn-prod img,
button.right-btn-prod img {
     height: 50px;
     width: 50px;
}

.left-btn.left-btn-prod,
.right-btn.right-btn-prod {
     border: none;
     position: absolute;
     z-index: 1;
     bottom: 50%;
     transform: translateY(50%);
     left: 0;
     right: auto;
     cursor: pointer;
     transition: all 600ms;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
}

.right-btn.right-btn-prod {
     right: 0;
     left: auto;
}

#carousel #products-line {
     display: flex;
     max-width: 100%;
     transition: 0.5s;
     gap: 1%;
}

/* FOOTER */
footer {
     width: 100%;
     line-height: 1.3;
     margin-top: 60px;
     padding-top: 40px;
     border-top: 1px solid var(--lightGrey);
}

.footer-top {
     display: flex;
     justify-content: space-between;
}

.footer-top h2 {
     padding-bottom: 10px;
}

.footer-top p {
     color: var(--grey);
     padding-bottom: 10px;
     font-size: 0.9rem;
}

.footer-top ul {
     padding-left: 20px;
     font-size: 0.9rem;
}

.footer-internal-col {
     padding-bottom: 20px;
}

.footer-top #payment {
     width: 150px;
}

.footer-top #ssl {
     width: 170px;
}

#form-news {
     display: flex;
     flex-direction: column;
     border: 0;
}

#form-news input {
     outline: none;
     border: 0;
     height: 60px;
}

#email-submit-box {
     border-top: 1px solid var(--lightGrey);
     border-bottom: 1px solid var(--lightGrey);
}

#form-news button {
     right: 0;
     width: 35px;
     height: 35px;
     border-radius: 30px;
     color: #fff;
     border: 0;
     outline: 0;
     cursor: pointer;
     background-color: var(--grey);
}

.footer-bottom {
     font-size: 0.8rem;
     display: flex;
     gap: 10px;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 20px;
     color: var(--grey);
     justify-content: center;
     border-top: 1px solid var(--lightGrey);
}

/* Modal Product */

.background-modal-product {
     display: none;
     position: fixed;
     top: 0;
     width: 100vw;
     height: 100vh;
     z-index: 2;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.767);
}

.modal-product {
     background-color: #fff;
     overflow-y: scroll;
     position: relative;
     width: 92%;
     height: 82%;
     border: 0;
     outline: 0;
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
}

.btn-close-modal {
     position: fixed;
     right: 50px;
     top: 50px;
     border: none;
     padding: 20px;
     outline: none;
     cursor: pointer;
     background-color: transparent;
}

.modal-product .btn-close-modal img {
     width: 35px;
     height: 35px;
}

.modal-product .product-page.general-margin-padding {
     margin: 30px 20px;
}

@media (max-width: 1024px) {
     #header-alert-message {
          font-size: 0.7rem;
          padding: 12px;
          margin-bottom: 8px;
     }

     #header-box {
          margin: 0px;
          height: auto;
          gap: 8px;
          justify-content: space-between;
     }

     #header-left-box {
          order: 3;
          width: 100%;
     }

     #social-media {
          display: none;
     }

     .button-responsive {
          display: block;
          padding: 0 10px;
          cursor: pointer;
          border: 0;
          background-color: transparent;
     }

     .button-responsive img {
          width: 32px;
          height: 30px;
     }

     #logo {
          padding: 0 10px;
          font-size: 1.2rem;
     }

     #header-right-box {
          padding: 0 10px;
          gap: 5px;
     }

     #header-right-box a {
          font-size: 0;
     }

     #search-box {
          width: 100%;
          display: flex;
          position: relative;
          align-items: center;
     }

     #top-search {
          width: 100%;
          height: 45px;
          border-radius: 0;
          border: 1px solid var(--lightGrey);
          background-color: var(--lightGrey2);
     }

     #btn-search {
          width: 50px;
          height: 45px;
          right: 0px;
          border-left: 1px solid var(--lightGrey);
     }

     #btn-search img {
          width: 28px;
     }

     #account-list li:nth-child(1),
     #account-list li:nth-child(2) {
          display: none;
     }

     #logo {
          margin: 0;
     }

     #shoppingCart {
          align-self: center;
          display: initial;
          width: 25px;
     }

     #shopping {
          display: none;
     }

     .background-categories {
          width: 200px;
          height: 100vh;
          position: absolute;
          transform: translateX(-150%);
          transition: transform 0.6s;
     }

     .background-categories.open {
          transform: translateX(0);
     }

     .menu-categories {
          position: fixed;
          top: -1px;
          height: 100vh;
          width: 220px;
          background-color: #fff;
     }

     .titleMenu {
          display: initial;
          background-color: var(--darkGrey);
          position: relative;
     }

     #titleMenuLink {
          color: #fff;
          pointer-events: none;
     }

     .titleMenu button {
          position: absolute;
          background-color: transparent;
          border: none;
          top: 0;
          right: -40px;
          cursor: pointer;
     }

     .titleMenu button img {
          height: 45px;
          width: 45px;
     }

     .menu-categories ul {
          flex-direction: column;
          justify-content: start;
          width: 100%;
     }

     .menu-categories ul li {
          padding: 5px 0;
          border-bottom: 1px solid var(--lightGrey);
     }

     .menu-categories ul a {
          display: block;
          color: var(--darkGrey);
          padding-left: 10px;
     }

     .menu-categories ul a:hover {
          background-color: #fff;
          color: var(--darkGrey);
     }

     .menu-categories li:hover ul {
          position: initial;
          top: 100%;
          width: 220px;
          display: block;
     }

     .menu-categories li ul li {
          border-bottom: none;
     }

     .menu-categories li ul a:hover {
          text-decoration: none;
          color: var(--darkGrey);
     }

     #main-banner img {
          height: 60vh;
     }

     #main-banner img {
          object-fit: cover;
     }

     .shipping-banner {
          margin: 0 10px;
          justify-content: space-around;
     }

     .shipping-box:nth-child(2),
     .shipping-box:nth-child(3) {
          display: none;
     }

     .shipping-box-col-text h2,
     h3 {
          font-size: 0.7rem;
     }

     .secondary-banners {
          margin: 0;
          padding: 0;
          width: 100vw;
          gap: 10px;
          flex-direction: column;
     }

     .secondary-banner-col {
          position: relative;
          overflow: hidden;
          cursor: pointer;
          width: 100%;
     }

     .product-box {
          margin: 0;
          gap: 20px;
     }

     .product-list {
          gap: 10px;
          flex-wrap: wrap;
          justify-content: space-around;
     }

     .product {
          max-width: 48%;
     }

     .footer-top {
          margin: 0 10px;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
     }

     .footer-top ul {
          padding: 0;
          list-style: none;
     }

     .footer-top h2 {
          padding-bottom: 10px;
          margin-top: 20px;
     }

     .footer-top #social-media {
          display: initial;
     }

     #form-news {
          margin-bottom: 50px;
     }

     /* CATEGORIES PAG */
     .website-urls {
          margin: 0 10px;
     }

     .categories-banner {
          margin: 10px;
     }

     .product-list {
          margin: 20px 10px;
     }

     /* PRODUCT PAGE */
     .product-page {
          grid-template-columns: auto;
          grid-template-rows: 10fr;
          text-align: center;
          padding: 10px;
          margin: 0 10px;
     }

     .product-name {
          justify-self: flex-start;
          text-align: left;
     }

     .images {
          grid-row-start: 2;
          grid-row-end: 10;
          flex-direction: column;
     }

     .main-image {
          width: 100%;
          height: auto;
     }

     .secondary-images {
          order: 1;
          flex-direction: row;
     }

     .box-small-image {
          width: 70px;
          height: 70px;
     }

     .product-quantity-box {
          align-items: center;
     }

     #product-purchase {
          width: 300px;
          margin: auto;
     }

     .product-shipping {
          margin: 20px 0 40px 0;
     }

     .footer-bottom {
          font-size: 0.9rem;
     }

     /* MODAL PRODUCT PAGE */
     .modal-product {
          min-height: 100vh;
          min-width: 100vw;
     }

     .modal-product .product-page.general-margin-padding {
          margin: 10px;
     }

     .btn-close-modal {
          right: 0;
          top: 0;
     }

     /* PRODUCT LINE CAROUSEL*/
     .product.prod-carousel {
          min-width: 48%;
          margin-left: 1%;
     }

     .container-products-carousel {
          justify-content: center;
          padding: 0 20px;
          margin: auto;
          width: 97vw;
     }

     .left-btn.left-btn-prod {
          left: -8px;
          right: auto;
     }

     .right-btn.right-btn-prod {
          right: -8px;
          left: auto;
     }

     main {
          overflow-x: hidden;
     }
}
